<div class="jumbotron m-0 mt-3">
    <div class="text-center">
        <img class="ocelot-cover-small" src="/img/ocelot.png" />
        <h1 class="display-4 mx-3 mt-3">Błąd</h1>
        <div class="w-50 mt-5 mx-auto">
            <p class="lead">
                {{error.message}}
            </p>
            <a class="btn btn-primary btn-lg" href="/">
                <i class="fa fa-home"></i>
            </a>
        </div>
    </div>
</div>