index apki:<br />

<a href="/questions">
    <button>lista pytań</button>
</a>

<a href="/question/create">
    <button>dodaj</button>
</a>

<a href="/profile">
    <button>profil</button>
</a>

<a href="/login">
    <button>logowanie</button>
</a>

<a href="/register">
    <button>rejestracja</button>
</a>

<a href="/logout">
    <button>wyloguj</button>
</a>