<form action="/question/" encType="multipart/form-data" method="post" class="m-0" data-view-name="oce-upload-xlsx">
    <div class="text-center p-3">
        <img src="/img/example.png" width="300px" />
    </div>
    <div class="form-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" name="spreadsheet" required>
            <label class="custom-file-label" for="validatedCustomFile">Wybierz plik...</label>
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="categorySelect">Kategoria</label>
        <select class="form-control custom-select selectpicker" data-live-search="true" data-size="5" name="category"
            id="categorySelect">
            {{#each categories}}
            <option value="{{this.id}}" {{#check this.id ../selected}} selected{{/check}}>
                {{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button class="btn btn-primary btn-block mt-2" type="submit" name="action">Dodaj pytanie</button>
</form>

<script>
    $('input[type="file"]').on('change', function (e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
    })
</script>